
@{
    ViewData["Title"] = "Log Frame Indicator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles{
    <link href="~/pages-css/steper-style.css" rel="stylesheet" />
    <link href="~/pages-css/log-frame-indicator.css" rel="stylesheet" />
}

<div class="container">
    <h4 class="page-header mt-3">Log Indicator</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>

    <div class="card card-body">
        <ul class="progressbar">
            <li onclick="stepClick(1,this)" class="active">Step 1</li>
            <li onclick="stepClick(2,this)">Step 2</li>
            <li onclick="stepClick(3,this)">Step 3</li>
        </ul>

        <form id="formStep1" name="logForm" class="hide-form active-form">
            <div class="row">
                <div class="col-lg-4">
                    <select id="selectProjectName" name="ProjectId" asp-items="@ViewBag.ProjectName" class="mdb-select md-form" searchable="Search here.." required>
                        <option value="" disabled selected>Choose Project Name</option>
                    </select>
                    <span id="selectProject" class="red-text"></span>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputProjectGoal">Project Goal</label>
                        <input name="ProjectGoal" type="text" id="inputProjectGoal" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputResultIndirector">Result Base Indirector</label>
                        <input name="ResultBaseIndicator" type="text" id="inputResultIndirector" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <label for="inputOutcome">Outcome</label>
                        <input name="Outcome" type="text" id="inputOutcome" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <label for="inputOutcomeIndirector">Outcome Base Indirector</label>
                        <input name="OutcomeBaseIndicator" type="text" id="inputOutcomeIndirector" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineValue">Baseline Value</label>
                        <input name="BaselineValue" type="number" id="inputBaselineValue" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputTargetValue">Target Value</label>
                        <input name="TargetValue" type="number" id="inputTargetValue" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputAchieveValue">Achieve Value</label>
                        <input name="AchieveValue" type="number" id="inputAchieveValue" class="form-control">
                    </div>

                    <select id="selectMeasuringUnit" name="MeasuringUnit" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Measuring Unit</option>
                        <option value="Person">Person</option>
                        <option value="KM">KM</option>
                        <option value="%">%</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineDate">Baseline Date</label>
                        <input name="BaselineDate" type="text" id="inputBaselineDate" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate1">Date</label>
                        <input name="Date1" type="text" id="inputDate1" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate2">Date</label>
                        <input name="Date2" type="text" id="inputDate2" class="form-control datepicker">
                    </div>

                    <select id="selectPrimarySource" name="PrimarySource" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Primary Source</option>
                        <option value="Primary Source of Data">Primary Source of Data</option>
                        <option value="DHIS 2">DHIS 2</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form" style="height: 16%"></div>

                    <select id="selectFrequency1" name="Frequency1" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <select id="selectFrequency2" name="Frequency2" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <div class="md-form">
                        <label for="inputLocation">Location</label>
                        <input id="inputLocation" name="Location" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-lg-8">
                    <select id="selectParticipant" name="Participants" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Participants</option>
                        <option value="Male">Male</option>
                        <option value="female">female</option>
                        <option value="boys">boys</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <div class="text-right md-form">
                        <button id="btnStep1" type="submit" class="btn btn-custom-bg">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <form id="formStep2" name="logForm" class="hide-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputOutputIndirector" class="form-control">
                        <label for="inputOutputIndirector">Output Base Indirector</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputOutput" class="form-control">
                        <label for="inputOutput">Output</label>
                    </div>
                </div>
            </div>

            <div class="text-right mt-4">
                <button id="btnStep2" type="submit" class="btn btn-custom-bg">Submit</button>
            </div>
        </form>

        <form id="formStep3" name="logForm" class="hide-form">
            <div class="md-form">
                <input type="text" id="inputActivity" class="form-control">
                <label for="inputActivity">Activity</label>
            </div>

            <div class="text-right mt-4">
                <button id="btnStep3" type="submit" class="btn btn-custom-bg">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('.mdb-select').materialSelect();
            $('.datepicker').pickadate();
        });

        const formStep1 = document.getElementById("formStep1");
        const formStep2 = document.getElementById("formStep2");
        const formStep3 = document.getElementById("formStep3");

        //get form data as object
        var serializeForm = function (form) {
            const obj = {};
            const formData = new FormData(form);
            for (let key of formData.keys()) {
                obj[key] = formData.get(key);
            }
            return obj;
        };

        //submit form Step1
        formStep1.addEventListener("submit", function (evt) {
            evt.preventDefault();

            const data = serializeForm(evt.target);
            console.log(data)

            this.btnStep1.disabled = true;
            this.btnStep1.textContent = "Submitting..";

            $.ajax({
                url: "/ProjectLogFrame/PostLogFrameIndicator",
                type: "POST",
                data: data,
                success: response => {
                    this.btnStep1.disabled = false;
                    this.btnStep1.textContent = "Submit";

                    if (response.IsSuccess) {
                        $.notify("Successfully submitted!", "success");
                        return;
                    }
                    $.notify(response.Message, "error");
                },
                error: err => {
                    console.log(err);
                    this.btnStep1.disabled = false;
                    this.btnStep1.textContent = "Submit";
                }
            });
        });

        //on change Project Name
        formStep1.selectProjectName.addEventListener("change", function (evt) {
            const id = this.value;
            if (!id) return;

            $.ajax({
                url: "/ProjectLogFrame/GetLogFrameIndicator",
                data: { id },
                success: response => {
                    console.log(response)
                    setProjectData(response.Data, response.IsSuccess, formStep1.name);
                },
                error: err => console.log(err)
            });
        });

        function setProjectData(items, isData, form) {
            const elements = document.forms[form].elements;

            for (let i = 0; i < elements.length; i++) {
                const input = elements[i];

                if (isData) {
                    Object.entries(items).forEach(([key, val]) => {
                        if (input.name === key) {
                            if (input.type === "text" || input.type === "number" || input.type === "select-one") {
                                $(`select#${input.id} option[value='${val}']`).attr("selected", true);

                                input.value = val;
                                if (input.previousElementSibling && input.previousElementSibling.tagName === "LABEL" && val) {
                                    input.previousElementSibling.classList.add("active");
                                }
                            }
                        }
                    })
                } else {
                    if (!input.classList.contains("select-dropdown")) {
                        input.value = "";
                    }

                    if (input.previousElementSibling && input.previousElementSibling.tagName === "LABEL") {
                        input.previousElementSibling.classList.remove("active");
                    }

                    if (input.classList.contains("mdb-select")) {
                        $(`select#${input.id}`).val('0').change();
                    }
                }
            }
        }

        //select project check
        function selectProject() {
            if (!formStep1.selectProjectName.value) {
                formStep1.selectProjectName.setAttribute("required", true);
                formStep1.querySelector("#selectProject").textContent = "Select project name";
                return;
            }
        }

        //on step change
        function stepClick(step, self) {
            const forms = document.getElementsByName("logForm");

            //add active class
            const actives = document.querySelector(".progressbar .active");
            actives.classList.remove("active");
            self.className = "active";

            for (let i = 0; i < forms.length; i++) {
                if (i + 1 === step) {
                    forms[i].classList.add("active-form");
                } else {
                    forms[i].classList.remove("active-form");
                }
            }
        }
    </script>
}