
@{
    ViewData["Title"] = "Log Frame Indicator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4 class="page-header mt-3">Log Indicator</h4>
<p class="mb-3">@ViewBag.ProjectSector.Sector</p>

