
@{
    ViewData["Title"] = "Log Frame Indicator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles{
    <link href="~/pages-css/steper-style.css" rel="stylesheet">
    <link href="~/pages-css/log-frame-indicator.css" rel="stylesheet">
}

<div class="container">
    <h4 class="page-header mt-3">Log Indicator</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>

    <div class="card card-body">
        <ul class="progressbar" id="stepProgress">
            <li onclick="stepClick(1,this)" class="active">Indicator</li>
            <li onclick="stepClick(2,this)">Name Output</li>
            <li onclick="stepClick(3,this)">Name Activity </li>
        </ul>

        <form id="formStep1" name="logForm" class="hide-form active-form">
            <div class="row">
                <div class="col-lg-4">
                    <select id="selectProjectName" name="ProjectId" asp-items="@ViewBag.ProjectName" class="mdb-select md-form" searchable="Search here.." required>
                        <option value="" disabled selected>Choose Project Name</option>
                    </select>
                    <span id="selectProject" class="red-text"></span>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputProjectGoal">Project Goal</label>
                        <input name="ProjectGoal" type="text" id="inputProjectGoal" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputResultIndirector">Result Base Indirector</label>
                        <input name="ResultBaseIndicator" type="text" id="inputResultIndirector" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <label for="inputOutcome">Outcome</label>
                        <input name="Outcome" type="text" id="inputOutcome" class="form-control">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="md-form">
                        <label for="inputOutcomeIndirector">Outcome Base Indirector</label>
                        <input name="OutcomeBaseIndicator" type="text" id="inputOutcomeIndirector" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineValue">Baseline Value</label>
                        <input name="BaselineValue" type="number" id="inputBaselineValue" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputTargetValue">Target Value</label>
                        <input name="TargetValue" type="number" id="inputTargetValue" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputAchieveValue">Achieve Value</label>
                        <input name="AchieveValue" type="number" id="inputAchieveValue" class="form-control">
                    </div>

                    <select id="selectMeasuringUnit" name="MeasuringUnit" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Measuring Unit</option>
                        <option value="Person">Person</option>
                        <option value="KM">KM</option>
                        <option value="%">%</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineDate">Baseline Date</label>
                        <input name="BaselineDate" type="text" id="inputBaselineDate" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate1">Date</label>
                        <input name="Date1" type="text" id="inputDate1" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate2">Date</label>
                        <input name="Date2" type="text" id="inputDate2" class="form-control datepicker">
                    </div>

                    <select id="selectPrimarySource" name="PrimarySource" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Primary Source</option>
                        <option value="Primary Source of Data">Primary Source of Data</option>
                        <option value="DHIS 2">DHIS 2</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form" style="height: 16%"></div>

                    <select id="selectFrequency1" name="Frequency1" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <select id="selectFrequency2" name="Frequency2" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <div class="md-form">
                        <label for="inputLocation">Location</label>
                        <input id="inputLocation" name="Location" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="md-form">
                <select id="selectParticipant" name="Participants" class="mdb-select">
                    <option value="" disabled selected>Choose Participants</option>
                    <option value="Male">Male</option>
                    <option value="female">female</option>
                    <option value="boys">boys</option>
                </select>
            </div>

            <div class="text-right md-form">
                <button id="btnStep1" type="submit" class="btn btn-custom-bg">Submit</button>
                <button type="button" onclick="stepClick(2, document.getElementById('stepProgress').children[1])" class="btn btn-outline-info">Next Step <i class="fas fa-arrow-right ml-2"></i></button>
            </div>
        </form>

        <form id="formStep2" name="logForm" class="hide-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input name="OutputBaseIndicator" type="text" id="inputOutputIndirector" class="form-control">
                        <label for="inputOutputIndirector">Output Base Indirector</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input name="Output" type="text" id="inputOutput" class="form-control">
                        <label for="inputOutput">Output</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineValue">Baseline Value</label>
                        <input name="BaselineValue" type="number" id="inputBaselineValue1" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputTargetValue">Target Value</label>
                        <input name="TargetValue" type="number" id="inputTargetValue1" class="form-control">
                    </div>

                    <div class="md-form">
                        <label for="inputAchieveValue">Achieve Value</label>
                        <input name="AchieveValue" type="number" id="inputAchieveValue1" class="form-control">
                    </div>

                    <select id="selectMeasuringUnit1" name="MeasuringUnit" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Measuring Unit</option>
                        <option value="Person">Person</option>
                        <option value="KM">KM</option>
                        <option value="%">%</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBaselineDate">Baseline Date</label>
                        <input name="BaselineDate" type="text" id="inputBaselineDate1" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate1">Date</label>
                        <input name="Date1" type="text" id="inputDate1-0" class="form-control datepicker">
                    </div>

                    <div class="md-form">
                        <label for="inputDate2">Date</label>
                        <input name="Date2" type="text" id="inputDate2-0" class="form-control datepicker">
                    </div>

                    <select id="selectPrimarySource2" name="PrimarySource" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Primary Source</option>
                        <option value="Primary Source of Data">Primary Source of Data</option>
                        <option value="DHIS 2">DHIS 2</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <div class="md-form" style="height: 16%"></div>

                    <select id="selectFrequency1-0" name="Frequency1" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <select id="selectFrequency2-0" name="Frequency2" class="mdb-select md-form">
                        <option value="" disabled selected>Choose Frequency</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Annually">Annually</option>
                    </select>

                    <div class="md-form">
                        <label for="inputLocation">Location</label>
                        <input id="inputLocation2" name="Location" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="md-form">
                <select id="selectParticipant2" name="Participants" class="mdb-select">
                    <option value="" disabled selected>Choose Participants</option>
                    <option value="Male">Male</option>
                    <option value="female">female</option>
                    <option value="boys">boys</option>
                </select>
            </div>

            <div class="text-right mt-4">
                <button id="btnStep2" type="submit" class="btn btn-custom-bg">Submit</button>
                <button type="button" onclick="stepClick(3, document.getElementById('stepProgress').children[2])" class="btn btn-outline-info">Next Step <i class="fas fa-arrow-right ml-2"></i></button>
            </div>
        </form>

        <form id="formStep3" name="logForm" class="hide-form">
            <div class="md-form">
                <input type="text" id="inputActivity" class="form-control">
                <label for="inputActivity">Activity</label>
            </div>

            <div class="text-right mt-4">
                <button id="btnStep3" type="submit" class="btn btn-custom-bg">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('.mdb-select').materialSelect();
            $('.datepicker').pickadate();
        });

        const formStep1 = document.getElementById("formStep1");
        const formStep2 = document.getElementById("formStep2");
        const formStep3 = document.getElementById("formStep3");


        //on change Project Name
        formStep1.selectProjectName.addEventListener("change", function (evt) {
            const id = this.value;
            const steps = { first: 1, second: 2, third: 3 }

            if (!id) return;

            //1st step
            $.ajax({
                url: "/ProjectLogFrame/GetLogFrameIndicatorStep",
                data: { id, step: steps.first },
                success: response => {
                    setProjectData(response.Data, response.IsSuccess, formStep1.name);
                },
                error: err => console.log(err)
            });

            //2nd step
            $.ajax({
                url: "/ProjectLogFrame/GetLogFrameIndicatorStep",
                data: { id, step: steps.second },
                success: response => {
                    setProjectData(response.Data, response.IsSuccess, formStep2.name);
                },
                error: err => console.log(err)
            });

            //3nd step
            //$.ajax({
            //    url: "/ProjectLogFrame/GetLogFrameIndicatorStep",
            //    data: { id, step: steps.third },
            //    success: response => {
            //        setProjectData(response.Data, response.IsSuccess, formStep3.name);
            //    },
            //    error: err => console.log(err)
            //});
        });


        //get form data as object
        var serializeForm = function (form) {
            const obj = {};
            const formData = new FormData(form);
            for (let key of formData.keys()) {
                obj[key] = formData.get(key);
            }
            return obj;
        };

        //submit form Step1
        formStep1.addEventListener("submit", function (evt) {
            evt.preventDefault();

            const data = serializeForm(evt.target);
            console.log(data)

            this.btnStep1.disabled = true;
            this.btnStep1.textContent = "Submitting..";

            $.ajax({
                url: "/ProjectLogFrame/PostLogFrameIndicatorStep1",
                type: "POST",
                data: data,
                success: response => {
                    this.btnStep1.disabled = false;
                    this.btnStep1.textContent = "Submit";

                    if (response.IsSuccess) {
                        $.notify("Successfully submitted!", "success");
                        return;
                    }
                    $.notify(response.Message, "error");
                },
                error: err => {
                    console.log(err);
                    this.btnStep1.disabled = false;
                    this.btnStep1.textContent = "Submit";
                }
            });
        });

        //submit form Step2
        formStep2.addEventListener("submit", function (evt) {
            evt.preventDefault();

            const data = serializeForm(evt.target);
            console.log(data)

            this.btnStep2.disabled = true;
            this.btnStep2.textContent = "Submitting..";

            $.ajax({
                url: "/ProjectLogFrame/PostLogFrameIndicatorStep2",
                type: "POST",
                data: data,
                success: response => {
                    this.btnStep2.disabled = false;
                    this.btnStep2.textContent = "Submit";

                    if (response.IsSuccess) {
                        $.notify("Successfully submitted!", "success");
                        return;
                    }
                    $.notify(response.Message, "error");
                },
                error: err => {
                    console.log(err);
                    this.btnStep2.disabled = false;
                    this.btnStep2.textContent = "Submit";
                }
            });
        });

        //check is valid date
        function isValidDate(dateStr) {
            return !isNaN(new Date(dateStr).getDate());
        }

        //set already inserted data
        function setProjectData(items, isData, form) {
            const elements = document.forms[form].elements;

            for (let i = 0; i < elements.length; i++) {
                const input = elements[i];

                if (isData) {
                    Object.entries(items).forEach(([key, val]) => {
                        if (input.name === key) {
                            if (input.type === "text" || input.type === "number" || input.type === "select-one") {
                                if (input.name !== "ProjectId") {
                                    $(`select#${input.id} option[value='${val}']`).attr("selected", true);
                                    $(`select#${input.id}`).val(`${items.Participants}`).change();
                                }

                                if (isValidDate(val)) {
                                    input.value = moment(val).format("DD MMM YYYY");
                                } else {
                                    input.value = val;
                                }

                                if (input.previousElementSibling && input.previousElementSibling.tagName === "LABEL" && val) {
                                    input.previousElementSibling.classList.add("active");
                                }
                            }
                        }
                    })
                } else {
                    if (!input.classList.contains("select-dropdown")) {
                        input.value = "";
                    }

                    if (input.previousElementSibling && input.previousElementSibling.tagName === "LABEL") {
                        input.previousElementSibling.classList.remove("active");
                    }

                    if (input.classList.contains("mdb-select")) {
                        if (input.name !== "ProjectId") {
                            $(`select#${input.id}`).val('0').change();
                        }
                    }
                }
            }


        }

        //select project check
        function selectProject() {
            if (!formStep1.selectProjectName.value) {
                formStep1.selectProjectName.focus();
                formStep1.querySelector("#selectProject").textContent = "Select project name";
                return;
            }
        }

        //on step change
        function stepClick(step, self) {
            const forms = document.getElementsByName("logForm");

            //add active class
            const actives = document.querySelector(".progressbar .active");
            actives.classList.remove("active");
            self.className = "active";
            console.log(self)
            for (let i = 0; i < forms.length; i++) {
                if (i + 1 === step) {
                    forms[i].classList.add("active-form");
                } else {
                    forms[i].classList.remove("active-form");
                }
            }
        }
    </script>
}