@model IEnumerable<CountryViewModel>
@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h4 class="page-header mb-3">Country</h4>
    <div class="card mb-3 px-3 py-2">
        <form id="formAdd">
            <div class="md-form input-group">
                <input id="inputCountryName" type="text" class="form-control" required>
                <label for="inputCountryName">Country Name</label>

                <div class="input-group-append">
                    <button class="btn btn-md btn-custom-bg m-0 px-3" type="submit">Add</button>
                </div>
            </div>
            <span id="error" class="red-text"></span>
        </form>
    </div>

    <div class="card card-body">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>@item.CountryName</strong>
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts{
    <script>
        //selectors
        const formAdd = document.getElementById("formAdd");
        const error = document.getElementById("error");

        //insert
        formAdd.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const model = { CountryName: this.inputCountryName.value }

            $.ajax({
                url: "/Settings/PostCountry",
                type: "POST",
                data: model,
                success: function(response) {
                    if (response.IsSuccess) {
                        location.reload();
                        return;
                    }

                    error.textContent = response.Message;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}


