@model IEnumerable<ReportTypeViewModel>
@{
    ViewData["Title"] = "Report Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Report Types</h4>
    <div class="card mb-3 px-3 py-2">
        <form id="formAdd">
            <div class="md-form input-group">
                <input id="inputReportName" type="text" class="form-control" required>
                <label for="inputReportName">Report Name</label>

                <div class="input-group-append">
                    <button class="btn btn-md btn-custom-bg m-0 px-3" type="submit">Submit</button>
                </div>
            </div>
            <span id="error" class="red-text"></span>
        </form>
    </div>

    <div class="card card-body">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>@item.ReportName</strong>

                    <div>
                        <a data-id="@item.ReportTypeId" class="far fa-trash red-text mr-3 delete"></a>
                        <a data-id="@item.ReportTypeId" data-value="@item.ReportName" class="far fa-edit btnUpdate"></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<!--update modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold">Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formUpdate">
                    <input type="hidden" id="hiddenUpdateId">
                    <div class="form-group">
                        <label for="updateReportName">Report Name</label>
                        <input type="text" id="updateReportName" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-info waves-effect">Update <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
                <span id="error2" class="red-text"></span>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        //selectors
        const formAdd = document.getElementById("formAdd");
        const formUpdate = document.getElementById("formUpdate");
        const error = document.getElementById("error");
        const listContainer = document.querySelector(".list-group");
        const modalContainer = $("#updateModal");

        //insert
        formAdd.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const model = { ReportName: this.inputReportName.value }

            $.ajax({
                url: "/Settings/PostReportType",
                type: "POST",
                data: model,
                success: function(response) {
                    if (response.IsSuccess) {
                        location.reload();
                        return;
                    }

                    error.textContent = response.Message;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        //on edit/delete
        listContainer.addEventListener("click", function(evt) {
            const element = evt.target;
            const onUpdate = element.classList.contains("btnUpdate");
            const onDelete = element.classList.contains("delete");

            if (onUpdate) {
                formUpdate.hiddenUpdateId.value = element.getAttribute("data-id");
                formUpdate.updateReportName.value = element.getAttribute("data-value");

                modalContainer.modal("show");
            }

            //delete
            if (onDelete) {
                $.ajax({
                    url: "/Settings/DeleteProjectStatus",
                    type: "POST",
                    data: { id: element.getAttribute("data-id") },
                    success: response => {
                        this.parentElement.parentElement.remove();
                    },
                    error: err => console.log(err)
                });
            }
        });

        //update
        formUpdate.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const model = {
                ReportTypeId: this.hiddenUpdateId.value,
                ReportName: this.updateReportName.value
            }

            $.ajax({
                url: "/Settings/UpdateReportType",
                type: "POST",
                data: model,
                success: function(response) {
                    if (response.IsSuccess) {
                        location.reload();
                        return;
                    }

                    error2.textContent = response.Message;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}


