
@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Sub-District</h4>
    <div class="card mb-3 px-3 py-2">
        <form id="formAdd">
            <div class="row">
                <div class="col">
                    <select asp-items="@ViewBag.Country" id="selectCountry" class="mdb-select md-form" searchable="Search here.." required>
                        <option value="" disabled selected>District</option>
                    </select>
                </div>

                <div class="col">
                    <div class="md-form input-group">
                        <input id="inputStateName" type="text" class="form-control" required>
                        <label for="inputStateName">Sub-District</label>

                        <div class="input-group-append">
                            <button class="btn btn-md btn-custom-bg m-0 px-3" type="submit">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <span id="error" class="red-text"></span>
        </form>
    </div>

    <div class="card card-body">
        <ul id="listItem" class="list-group list-group-flush"></ul>
    </div>
</div>

<!--update modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold">Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formUpdate">
                    <input type="hidden" id="hiddenUpdateId">
                    <div class="form-group">
                        <label for="inputUpdatedData">Sub-District</label>
                        <input type="text" id="inputUpdatedData" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-info waves-effect">Update <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
                <span id="error2" class="red-text"></span>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function() {
            $('.mdb-select').materialSelect();
        });

        //selectors
        const formAdd = document.getElementById("formAdd");
        const selectCountry = document.getElementById("selectCountry");
        const listItem = document.getElementById("listItem");
        const error = document.getElementById("error");

        const formUpdate = document.getElementById("formUpdate");
        const modalContainer = $("#updateModal");

        //country change
        selectCountry.addEventListener("change", function() {
            const id = +this.value;
            appendData(id);
        });

        //append to dom
        function appendData(id) {
            listItem.innerHTML = "";

            $.ajax({
                url: "/Settings/GetStateByCountry",
                data: { id },
                success: function(response) {
                    const fragment = document.createDocumentFragment();
                    console.log(response)
                    response.forEach(item => {

                        const li = document.createElement("li");
                        li.className = "list-group-item d-flex justify-content-between align-items-center";
                        li.innerHTML = `<strong>${item.StateName}</strong>
                          <div>
                            <a data-id="${item.StateId}" class="far fa-trash red-text mr-3 delete"></a>
                            <a data-id="${item.StateId}" data-value="${item.StateName}" class="far fa-edit btnUpdate"></a>
                          </div>`;
                        fragment.appendChild(li);
                    });

                    listItem.append(fragment);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }


        //insert
        formAdd.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const model = {
                CountryId: this.selectCountry.value,
                StateName: this.inputStateName.value
            }

            $.ajax({
                url: "/Settings/PostState",
                type: "POST",
                data: model,
                success: response => {
                    if (response.IsSuccess) {
                        appendData(model.CountryId);
                        this.inputStateName.value = "";
                        return;
                    }

                    error.textContent = response.Message;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        //on edit/delete
        listItem.addEventListener("click", function(evt) {
            const element = evt.target;
            const onUpdate = element.classList.contains("btnUpdate");
            const onDelete = element.classList.contains("delete");

            if (onUpdate) {
                formUpdate.hiddenUpdateId.value = element.getAttribute("data-id");
                formUpdate.inputUpdatedData.value = element.getAttribute("data-value");

                modalContainer.modal("show");
            }

            //delete
            if (onDelete) {
                $.ajax({
                    url: "/Settings/DeleteState",
                    type: "POST",
                    data: { id: element.getAttribute("data-id") },
                    success: response => {
                        if (response.IsSuccess)
                            element.parentElement.parentElement.remove();

                        $.notify(response.Message, response.IsSuccess ? "success" : "error");
                    },
                    error: err => console.log(err)
                });
            }
        });

        //update
        formUpdate.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const model = {
                CountryId: formAdd.selectCountry.value,
                StateId: this.hiddenUpdateId.value,
                StateName: this.inputUpdatedData.value
            }

            $.ajax({
                url: "/Settings/UpdateState",
                type: "POST",
                data: model,
                success: function(response) {
                    if (response.IsSuccess) {
                        location.reload();
                        return;
                    }

                    error2.textContent = response.Message;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}

