
:root { --bg-primary: #19c2f3; --bg-light: #17c0f2; --bg-secondary: #0a4da2; }

header nav { background-color: var(--bg-primary) }
.btn-custom-bg { background-color: var(--bg-light);color: #fff}
.btn-custom-bg:hover { background-color: var(--bg-primary); color: #fff }

main { min-height: 81vh;}

footer{ background-color: var(--bg-primary) }
