
@{
    ViewData["Title"] = "Add Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h5 class="page-header mb-3">@ViewBag.linkTitle</h5>

    <div class="card card-body">

    </div>
</div>


