@model IEnumerable<ProjectSectorViewModel>  
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Features List</h4>
    <div class="card card-body">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@item.Sector</span>
                    <a href="/Projects/AddProject/@item.ProjectSectorId"><i class="fas fa-plus"></i> Add Project</a>
                </li>
            }
        </ul>
    </div>
</div>

