@model IEnumerable<ProjectSectorViewModel>
@{
    ViewData["Title"] = "Features";
}

@section Styles{
    <style>
        .features-item { min-height: 250px; }
        .page-header { font-weight: bold; }
        .media { background-color: #189cc4 }
        .media .media-body p { font-size: 1.1rem;}
    </style>
}

<div class="container">     
    <h4 class="page-header my-4">PROJECT SECTORS</h4>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 mb-4">
                <a href="/Dashboard/Index/@item.ProjectSectorId">
                    <div class="media z-depth-1 rounded h-100 align-items-center">
                        <div class="media-body p-3 text-center text-white">
                            <p class="mb-0">
                                @item.Sector
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


