@model string
<ul id="menuItem">
    <li>
        <strong>
            <span class="fas fa-tachometer-alt"></span>
            <a class="links" href="/Dashboard/Index/@Model">Dashboard</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-file-plus"></span>
            <i class="fas fa-caret-right"></i>Project
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Projects/AddProject/@Model">Project Entry</a></li>
            <li><a class="links" href="/Projects/List/@Model">Project List</a></li>
            <li><a class="links" href="#">Report</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-chart-pie"></span>
            <a class="links" href="#">Work plan & Budget</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-database"></span>
            <i class="fas fa-caret-right"></i>Project Log Frame
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/ProjectLogFrame/LogFrame/@Model">Log Frame</a></li>
            <li><a class="links" href="/ProjectLogFrame/LogFrameIndicator/@Model">Log Frame Indicator</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-user-tie"></span>
            <a class="links" href="#">Project Employee/ Focal</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-user-check"></span>
            <a class="links" href="#">Beneficiary</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-file-alt"></span>
            <a class="links" href="#">Survey Form</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-map-marker-alt"></span>
            <a class="links" href="#">Map</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-chart-bar"></span>
            <a class="links" href="#">GANTT Chart</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-cog">
            </span><i class="fas fa-caret-right"></i>Settings
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Settings/ProjectStatus/@Model">Status</a></li>
            <li><a class="links" href="/Settings/ProjectDonor/@Model">Donor</a></li>
            <li><a class="links" href="/Settings/BeneficiaryType/@Model">Beneficiary</a></li>
            <li><a class="links" href="/Settings/Country/@Model">Country</a></li>
            <li><a class="links" href="/Settings/State/@Model">State</a></li>
            <li><a class="links" href="/Settings/City/@Model">City</a></li>
            <li><a class="links" href="/Settings/ReportType/@Model">Report Type</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-users"></span>
            <a class="links" href="#">User Create & Access</a>
        </strong>
    </li>
</ul>