
@{
    ViewData["Title"] = "Create Sub-Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h4 class="page-header mt-3">Create Sub-Admin</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>

    <form id="formSignup">
        <div class="card card-body">
            <div class="row">
                <div class="col-lg-4">
                    <select id="selectUserType" name="Type" class="mdb-select md-form" required>
                        <option value="" disabled selected>Choose User Type</option>
                        <option value="Person">Admin</option>
                        <option value="KM">Sub -Admin</option>
                    </select>
                </div>
                <div class="col-lg-8">
                    <div class="md-form">
                        <label for="inputOutput">Project Sector</label>
                        <input value="@ViewBag.ProjectSector.Sector" type="text" class="form-control" disabled>
                        <input type="hidden" name="ProjectSectorId" value="@ViewBag.ProjectSector.ProjectSectorId">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputName">Name</label>
                        <input id="inputName" name="Name" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputPhone">Phone Number</label>
                        <input id="inputPhone" name="Phone" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputEmail">Email</label>
                        <input id="inputEmail" name="Email" type="email" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputUserName">User Name</label>
                        <input id="inputUserName" name="UserName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputPassword">Password</label>
                        <input id="inputPassword" name="Password" type="password" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input id="inputConfirmPassword" name="ConfirmPassword" type="password" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="md-form">
                <label for="inputAddress">Address</label>
                <input id="inputAddress" name="Address" type="text" class="form-control">
            </div>
            <div class="text-right mt-4">
                <button id="btnStep3" type="submit" class="btn btn-custom-bg">Create Sub-admin</button>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script>
        $(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
}