
@{
    ViewData["Title"] = "Sub-Admin List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="m-md-3">
    <h4 class="page-header mt-3">Sub-Admin List</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>
</div>